@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App{
    background-color: #3f3160;
    min-height: 800px;
    /* width: 400px; */
    /* margin: 40px auto; */
    background-image: url(https://animaloilmaker.com/images/gif-pink-1080p-9.gif);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

#to-do-form input{
    background-color: rgb(27,112,137);
    border: 0;
    width: 200px;
    height: 50px;
    padding: 0 20px;
    margin: 20px;
    font-size: 18px;
    border-radius: 10px;
    color: #fff;
    border-radius: 10px;

}

    #to-do-form input::focus, #to-do-form button::focus {
        outline: none;
    }

#to-do-form input::placeholder{
    color: rgba(255,255,255,0.5);
}
/*test*/
#to-do-form button{
    height: 50px;
    width: 80px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(202,156,24);
    cursor: pointer;
    font-weight: bolder;
    color: #fff;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.item-list-card{
  width: 100%;
  margin: 10px;
}

.list-icon{
  float: right;
  padding-top: 3px;
  margin-right: 3px;
  cursor: pointer;
}

.to-do-checkBox{
  float: left;
  /* margin-top: 0px; */
  height: 24px;
  width: 24px;
}

.app-container{
  width: 400px;
  margin: 40px auto;
 /* background-image: url(https://media2.giphy.com/media/dWOKEQ5ewh94RJLemj/giphy.gif?cid=ecf05e476d9893ad68ea9818758b525a5cf2618e4210edb7&rid=giphy.gif); */
}

.line-through{
  text-decoration-line: line-through;
}